html
  font-family: $font-body
  font-weight: $font-body-weight
  line-height: $font-body-line-height
  -webkit-font-smoothing: antialiased

  @include media($screen-lg-min)
    font-size: 105%

  @include media($screen-xl-min)
    font-size: 112.5%

  @include media($screen-xxl-min)
    font-size: 120%

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-family: $font-heading
  font-weight: $font-heading-weight
  line-height: $font-heading-line-height
  letter-spacing: $font-heading-spacing
  text-transform: uppercase
  margin-top: 0
  margin-bottom: rem-calc(8)

  @include media($screen-sm-min)
    margin-bottom: rem-calc(16)

h1, .h1,
h2, .h2
  font-size: rem-calc(32)
  @include media($screen-sm-min)
    font-size: rem-calc(48)

h3, .h3
  font-size: rem-calc(20)
  @include media($screen-sm-min)
    font-size: rem-calc(24)

h4, .h4
  font-size: rem-calc(16)
  @include media($screen-sm-min)
    font-size: rem-calc(18)

h5, .h5
  font-size: rem-calc(14)
  @include media($screen-sm-min)
    font-size: rem-calc(16)

h6, .h6
  font-size: rem-calc(12)
  @include media($screen-sm-min)
    font-size: rem-calc(14)

p
  margin-top: rem-calc(8)
  margin-bottom: rem-calc(8)

  @include media($screen-sm-min)
    margin-top: rem-calc(16)
    margin-bottom: rem-calc(16)

.lead
  @include media($screen-sm-min)
    font-size: rem-calc(18)

.small
  font-size: rem-calc(14)

.normalized
  font-family: $font-body
  font-weight: $font-body-weight
  line-height: $font-body-line-height
  letter-spacing: normal
  text-transform: none
  margin-top: rem-calc(16)

strong, b, .bold
  font-weight: 400

a
  color: currentColor
  text-decoration: none

hr
  display: block
  height: rem-calc(1)
  border: 0
  border-top: 1px solid rgba($color-1, 0.12)
  margin: ($padding * 2) 0
  padding: 0
