.contact
  &__map
    position: relative
    padding-bottom: per-width(16,9)

    &__object
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

      img
        max-width: inherit !important
