.contact
  &__map
    position: relative
    padding-bottom: per-width(16,9)
    margin-bottom: ($padding * 2)
    border-radius: $radius
    border: em-calc(4) solid $color-4
    box-shadow: $shadow

    &__object
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

      img
        max-width: inherit !important

  &__information

    &__items
      list-style: none
      padding-left: 0

    &__item
      margin-bottom: $padding

      p
        font-size: rem-calc(14)
